{% extends 'core/base.html' %}
{% load static %}

{% block title %} Sobre Nosotros {% endblock %}

{% block principal %}

<div class="page-wrapper bg-section" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-5 col-xxl-5 contenedor">
                <div class="card mb-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex align-items-center gap-2 mb-4">
                            Sobre Nosotros
                        </h5>
                        <p>En SuperMarket S.A., nos especializamos en ofrecer soluciones innovadoras en el campo de la distribución de productos de consumo. Nuestro objetivo es proporcionar un servicio excepcional que supere las expectativas de nuestros clientes, facilitando su experiencia de compra a través de una plataforma intuitiva y eficiente.</p>
                        <h6>Nuestra Misión</h6>
                        <p>Proporcionar servicios de alta calidad que mejoren la vida de nuestros clientes, ofreciendo una amplia gama de productos a precios competitivos y garantizando la satisfacción del cliente en cada compra.</p>
                        <h6>Nuestra Visión</h6>
                        <p>Ser líderes en el sector de supermercados en línea, reconocidos por nuestra dedicación a la calidad, la innovación y el compromiso con la sostenibilidad y el bienestar de nuestros clientes y comunidades.</p>
                        <h6>Valores</h6>
                        <ul>
                            <li>Integridad: Actuamos con honestidad y transparencia en todas nuestras interacciones.</li>
                            <li>Innovación: Buscamos constantemente nuevas formas de mejorar nuestros servicios y productos.</li>
                            <li>Compromiso con el Cliente: La satisfacción del cliente es nuestra máxima prioridad.</li>
                            <li>Trabajo en Equipo: Fomentamos un ambiente de colaboración y respeto entre nuestros empleados.</li>
                            <li>Sostenibilidad: Nos comprometemos a prácticas responsables que protejan nuestro planeta.</li>
                        </ul>
                        <h6>Historia</h6>
                        <p>Desde nuestra fundación en 2024 (ayer casi), hemos crecido y evolucionado, adaptándonos a las necesidades del mercado y de nuestros clientes. Con una plataforma en línea fácil de usar, hemos logrado conectar a los consumidores con una amplia variedad de productos de calidad, todo al alcance de un clic.</p>
                        <h6>Contacto</h6>
                        <p>Para más información sobre nuestros servicios o inquietudes, no dudes en <a href="{% url 'contact' %}">contactarnos</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}