{% extends 'core/base.html' %}
{% load static %}

{% block principal %}

<div class="card">
    <div class="card-header">
        <i class="bi bi-list-ul"></i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Rol</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td> 
                            <td>{{ user.rol }}</td> 
                            <td>{{ user.nombre }}</td> 
                            <td>{{ user.apellido }}</td> 
                            <td>{{ user.email }}</td> 
                            <td>
                                <a href="{% url 'update' user.id %}" class="btn btn-primary">Modificar</a>
                                <a onclick="confirmDelete({{ aux.id }})" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}