{% extends 'core/base.html' %}
{% load static %}

{% block principal %}

<div class="card">
    <div class="card-header">
        <i class="bi bi-list-ul"></i> Lista de Productos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Supermercado</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Descripcion</th>
                        <th>Origen</th>
                        <th>Imagen</th>
                        <th>Fecha de Actualizacion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aux in product %}
                        <tr>
                            <td>{{ aux.supermercado.nombre }}</td>
                            <td>{{ aux.nombre }}</td>
                            <td>{{ aux.marca }}</td>
                            <td>{{ aux.precio }}</td>
                            <td>{{ aux.descripcion }}</td>
                            <td>{{ aux.origen_url }}</td>
                            <td><img src="{{ aux.imagen_url.url }}" alt="{{ aux.nombre }}" class="img-fluid" style="max-width: 100px;"></td>
                            <td>{{ aux.fecha_actualizacion }}</td>
                            <td>
                                <a href="{% url 'update' aux.id %}" class="btn btn-primary">Modificar</a>
                                <a onclick="confirmDelete({{ aux.id }})" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end text-center">
                <a href="{% url 'add' %}" class="btn btn-primary">Agregar un Producto</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}