{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %} Update Product {% endblock %}

{% block principal %}

<!-- Formulario para modificar empleados -->

<div class="formulario">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex align-items-center justify-content-between">
            <a href="{% url 'list' %}" class="btn btn-secondary">Volver a la lista de productos</a>
            <button type="submit" class="btn btn-primary">Actualizar Producto</button>
        </div>
    </form>
    {{ msj }}
</div>

{% endblock %}

